:host {
	display: block;
}

.featured-kpi {
	background-color: var(--primary-color);
	color: white;
	padding: 24px 24px;
	text-align: center;
}

.kpi-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;
	padding: 12px;
	background-color: var(--color-gray-100);
	border-radius: 16px;
	margin: 0 12px;
}

.chart-container {
	padding: 16px;
	margin: 0 16px;
}

.chart-image {
	width: 100%;
	border-radius: 12px;
}

.button-container {
	padding: 16px;
	margin: 0 16px;
	text-align: center;
}

.btn-primary {
	background-color: var(--primary-color);
	color: var(--color-white);
	border: none;
	border-radius: 40px;
	padding: 12px 24px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

	&:hover {
		background-color: var(--primary-dark);
	}

	&.active {
		background-color: transparent;
		color: var(--primary-color);
		border: 2px solid var(--primary-color);
	}
}
